# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  
  test:
    strategy:
      matrix:
        go_version: [1.19, 1.18, '>=1.19' ]      
        os: [ubunt-18.04, ubuntu-16.04]     
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go_version }}
      
    - name: Build-BD
      run: docker-compose build
      
    - name: create DB
      run: docker-compose up -d

    - name: Test
      run: go test -v main_test.go
      
  Build:
     needs: test
     runs-on: ${{ matrix.os }}
     steps:
     - uses: actions/checkout@v3
     - name: Build
       run: go build -v main.go
